#! /bin/bash


# The etl-project -- contains bin/ and configuration/
export ETL_HOME="/usr/local/bugzilla_etl"

# The folder containing the .kettle dir
export KETTLE_HOME="/usr/local/bugzilla_etl"

# The folder where the PDI step classes and dependencies go to.
export KETTLE_LIBS="/usr/local/pdi-ee/data-integration/libext"


# Elasticsearch hosts for the transport client to connect to (CSV).
export ES_NODES="localhost:9300"
export ES_CLUSTER="elasticsearch"
